.jumbotron{
    color:white;
    margin-top: 20px;
    height: 300px !important;
}
.btn{
    background-color: green !important;
    color: white !important; 
    width: 100%;
}
.footer2{
    background-color:#C0C0C0;
    margin-top: 20px;
}
.card-hotel{
    flex: 1 200px;
    padding: 5px 5px 5px 5px;
    margin-top: 5px;
}
.footer-address-icon{
    padding-right: 5px;
}

.fondo{
    background: url("/image/123jpg.jpg");
    width: 100%;
    background-position:center;
    background-size: cover;
}