$green: #009933;
$yellow: #ffff00;
$grey: #C0C0C0;
@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom ;
}

.jumbotron{
    color:white;
    margin-top: 20px;
    height: 300px !important;
}
.btn{
    background-color: $green !important;
    color: white !important; 
    width: 100%;
}
.footer2{
    background-color: $grey;
    @include margenes(10px,0px );
}
.card-hotel{
    flex: 1 200px;
    padding: 5px 5px 5px 5px;
    @include margenes(10px, 0px )
}
.footer-address-icon{
    padding-right: 5px;
    @include margenes(10px, 0px );
}

.fondo{
    background: url("/image/123jpg.jpg");
    width: 100%;
    background-position:center;
    background-size: cover;
}