.jumbotron {
  color: white;
  margin-top: 20px;
  height: 300px !important;
}
.btn {
  background-color: #009933 !important;
  color: white !important;
  width: 100%;
}
.footer2 {
  background-color: #C0C0C0;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  padding: 5px 5px 5px 5px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.footer-address-icon {
  padding-right: 5px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.fondo {
  background: url("/image/123jpg.jpg");
  width: 100%;
  background-position: center;
  background-size: cover;
}
